body {
    background-color: gainsboro;
}

buttonb {
    position: fixed;
    justify-content: center;
    
}

button{
    background-color: gainsboro;
    border: gainsboro;
}

p{
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
}