body {
    background-color: gainsboro;
}

buttonb {
    position: fixed;
    justify-content: center;
    
}
cookieb {

}
button{
    background-color: gainsboro;
    border: gainsboro;
}

p{
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif
}